@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "coolguy";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/CoolGuy-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTHakgyoansimMonggeulmonggeulR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src:
    local("Pretendard Black"),
    url(/fonts/woff2/Pretendard-Black.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src:
    local("Pretendard ExtraBold"),
    url(/fonts/woff2/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url(/fonts/woff2/Pretendard-Bold.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url(/fonts/woff2/Pretendard-SemiBold.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url(/fonts/woff2/Pretendard-Medium.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url(/fonts/woff2/Pretendard-Regular.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url(/fonts/woff2/Pretendard-Light.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src:
    local("Pretendard ExtraLight"),
    url(/fonts/woff2/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src:
    local("Pretendard Thin"),
    url(/fonts/woff2/Pretendard-Thin.woff2) format("woff2"),
    url(/fonts/woff/Pretendard-Thin.woff) format("woff");
}

.container {
  text-align: center;
}

.buttons {
  margin: 20px;
}
#root button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
}

#root button[style*="yellow"] {
  color: black; /* Yellow button text color */
}

.leds {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 20px;
}

.led {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.memoryForm {
  margin-top: 20px;
}

.memoryForm input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.coreMemories {
  margin-top: 20px;
}

.memory {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.memory p {
  margin-left: 10px;
}

.memory_green {
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
  background: linear-gradient(to right, #56ab2f, #a8e063);
}
.memory_red {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.memory_blue {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.memory_yellow {
  background: #fffc00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.memory_purple {
  background: #7f00ff;
  background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
  background: linear-gradient(to right, #e100ff, #7f00ff);
}
